.mwc-studysett {
  background-color: #262626;
  width: 400px;
  color: #dbdbdb;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 100%;
}

.mwc-studysett-container {
  padding: 0 20px;
}

.mwc-studysett-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mwc-studysett-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  overflow: hidde;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mwc-studysett-close {
  box-shadow: none;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}

.mwc-studysett-body {
  overflow: auto;
  padding-top: 16px;
}

.mwc-studysett-footer {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 16px;
  border-top: 1px solid #4a4a4a;
  display: flex;
  justify-content: flex-end;
}

.mwc-studysett-group-text {
  display: flex;
}

.mwc-studysett-ctrl-color {
  display: inline-flex;
}

.mwc-studysett-ctrl-font {
  display: inline-flex;
}

.mwc-studysett-ctrl-text {
  width: 100%;
  margin-top: 6px;

  textarea {
    color: inherit;
    appearance: textfield;
    background-color: initial;
    border: 1px solid #575757;
    border-radius: 8px;
    display: block;
    height: 100px;
    margin: 0;
    min-width: 0;
    outline: 0;
    width: 100%;
    font-family: inherit;
    font-size: 14px;
    line-height: inherit;
    padding: 2px 5px;
    resize: none;
  }
}

.mwc-studysett-row {
  display: flex;
  gap: 8px;
  align-items: center;
}

.mwc-studysett-group {
  grid-template-columns: auto 130px;
  align-items: center;
  gap: 16px;
  padding-bottom: 16px;
  display: inline-grid;
}

label {
  font-size: 14px;
}
