.mwc-study-fs-btn {
  width: 34px;
  height: 34px;
  border: 1px solid #575757;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  box-shadow: none;
  cursor: pointer;
  color: inherit;
  font-size: 12px;
}
