.mwc-study-color-btn {
  width: 34px;
  height: 34px;
  border: 1px solid #575757;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  box-shadow: none;
  cursor: pointer;
  outline: none;

  &[disabled] {
    opacity: 0.75;
    cursor: default;
  }
}

.mwc-study-color-bg {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  display: block;
  flex-shrink: 0;
}
