.mwc-line-width-picker-line {
  width: 18px;
  background-color: currentcolor;
  display: block;
}

.mwc-line-width-picker {
  display: grid;
  grid-template-columns: repeat(2, 70px);
}

.mwc-line-width-picker-button {
  display: flex;
  color: inherit;
  font-family: inherit;
  background-color: transparent;
  border: 0;
  box-shadow: 0;
  gap: 7px;
  cursor: pointer;
  padding: 8px 0;
  align-items: center;
  justify-content: center;
  outline: none;

  &:hover {
    background-color: #303030;
    color: #c9c9c9;
  }

  &.active {
    background-color: #f2ffff;
    color: #000;
  }
}
