.mwc-chart-header-side,
.mwc-chart-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mwc-chart-header {
  justify-content: space-between;
}

.mwc-chart-header-separator {
  background-color: #4a4a4a;
  margin-left: 4px;
  margin-right: 4px;
  height: 22px;
  width: 1px;
}

.mwc-chart-header-btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  color: #dbdbdb;
  font-size: 14px;
  border-radius: 4px;
  min-width: 34px;
  height: 34px;
  text-align: center;
  justify-content: center;
  padding: 3px;
  gap: 2px;
  box-shadow: none;
  border: none;
  background-color: transparent;

  &:hover {
    background-color: #303030;
  }
}

.mwc-chart-header-btn-indicator {
  padding-inline: 5px 10px;
}
