.mwc-chart-group {
  border-top: 1px solid #4a4a4a;
  padding-top: 4px;
  padding-bottom: 4px;

  &:first-child {
    border-top: 0;
  }
}

.mwc-chart-group-name {
  font-size: 11px;
  letter-spacing: 0.4px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 3px 12px;
  margin-bottom: 2px;
  color: #808080;
}
