.mwc-chart-legends {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 5px;
}

.mwc-chart-legend-line {
  &:hover {
    .mwc-chart-legend-menu {
      opacity: 1;
    }
  }
}

.mwc-chart-legend-name,
.mwc-chart-legend-label {
  color: #dbdbdb;
}

.mwc-chart-legend-label {
  display: block;
  border: 1px solid transparent;
  padding: 1px 0;
}

.mwc-chart-legend-menu {
  background-color: #1a1a1a;
  gap: 14px;
  padding: 1px 4px;
  border-radius: 4px;
  border: 1px solid #3d3d3d;
  position: absolute;
  top: 0;
  inset-inline-start: -4px;
  opacity: 0;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.mwc-chart-legend-menu-icon {
  display: flex;
  align-items: center;
}

.mwc-chart-legend {
  display: flex;
  gap: 6px;
  font-size: 13px;
  line-height: 18px;
  align-items: center;
  cursor: default;
  position: relative;

  &.main {
    padding-bottom: 4px;
  }
}

.mwc-chart-legend-section {
  display: flex;
  gap: 3px;
}
