.mwc-ca-drawing-menu {
  min-width: 200px;
}

.mwc-ca-emoji-menu {
  width: 360px;
}

.mwc-ca-menu-item {
  padding-top: 6px;
  padding-bottom: 6px;
}

.mwc-ca-btn {
  cursor: pointer;
  display: flex;
}

.mwc-ca-btn-arrow {
  opacity: 0;
  transition: transform 200ms ease;
}

.mwc-ca-btn-icon {
  display: flex;
  align-items: center;
  color: #dbdbdb;
  font-size: 14px;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  text-align: center;
  justify-content: center;
  padding: 3px;
  gap: 2px;
  box-shadow: none;
  border: none;
  background-color: transparent;

  &.initialized {
    color: #2962ff;
  }

  &:hover {
    background-color: #303030;

    & + .mwc-ca-btn-collapse > .mwc-ca-btn-arrow {
      opacity: 1;
    }
  }
}

.mwc-ca-btn-collapse {
  border-radius: 4px;
  height: 32px;
  outline: 2px none #2962ff;
  width: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8c8c8c;

  &.opened,
  &:hover {
    background-color: #303030;

    .mwc-ca-btn-arrow {
      opacity: 1;
    }
  }

  &.opened {
    .mwc-ca-btn-arrow {
      transform: rotate(-180deg);
    }
  }
}
