input {
  display: flex;
  align-items: center;
  background-color: transparent;
  box-shadow: none;
  border: 1px solid #575757;
  border-radius: 6px;
  font-family: inherit;
  color: inherit;
  outline: none;
  padding: 0 6px;
  height: 34px;
  font-size: 14px;
  transition: border-color 200ms ease;

  &:hover:not([disabled]) {
    border-color: #707070;
  }

  &[disabled] {
    opacity: 0.75;
  }
}
