.mwc-select {
  display: flex;
  align-items: center;
  border: 1px solid #575757;
  border-radius: 6px;
  padding-inline: 6px 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 14px;
  height: 34px;
  cursor: pointer;
  gap: 6px;
  justify-content: space-between;

  &:hover {
    border-color: #707070;
  }
}
